{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} View your wish {% endblock %}
<!--  -->
{%block content %}
<section class="section-content padding-y bg">
  {% include 'includes/alerts.html' %}
  <div class="container">
    <div class="row">
      <!-- dashboard sidebar -->
      {% include 'includes/dashboard_sidebar.html' %}
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <span><strong class="d-inline-block mr-3">Your Wish List: </strong></span>
            <span>({{wishlist_count}}) items found</span>
            <hr />
            <span>View and Edit Wishlist</span>
          </header>
          <div class="card-body">
            <div class="row">
              {% if wishlist %} {% for product in wishlist %}
              <div class="col-md-4">
                <div class="product__item">
                  <div class="product__item__pic set-bg" data-setbg="{{product.images.url}}">
                    <ul class="product__item__pic__hover">
                      <li>
                        <a href="{% url 'user_wishlist' product.id %}"
                          ><i class="fa fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="{{product.get_url}}"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="{% url 'add_cart' product.id %}"
                          ><i class="fa fa-shopping-cart"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="product__item__text">
                    <h6><a href="{{ product.get_url }}">{{product.product_name}}</a></h6>
                    <h5>${{product.discount_price}}</h5>
                  </div>
                </div>
              </div>
              {% endfor %} {% else %}
              <div>
                <h3>No product in your wish list</h3>
              </div>
              {% endif %}
              <!-- col.// -->
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
{% endblock %}
