{% load static %}

<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="" /></a>
  </div>
  <div class="humberger__menu__cart">
    <ul>
      <li>
        <a href="{% url 'wishlist' %}"
          ><i class="fa fa-heart"></i> <span>{{ wishlist_count }}</span></a
        >
      </li>
      <li>
        <a href="{% url 'cart' %}"
          ><i class="fa fa-shopping-bag"></i> <span>{{ cart_count }}</span></a
        >
      </li>
    </ul>
    <div class="header__cart__price">Cart Total: <span>${{total}}</span></div>
  </div>
  <div class="humberger__menu__widget">
    <div class="header__top__right__language">
      <img src="{% static 'img/language.png' %}" alt="" />
      <div>Ghana</div>
      <!-- <span class="arrow_carrot-down"></span>
      <ul>
        <li><a href="#">Tema & Accra</a></li>
        <li><a href="#">Other Regions</a></li>
      </ul> -->
    </div>
    <!-- <div class="header__top__right__auth">
      <a href="#"><i class="fa fa-user"></i> Login</a>
    </div> -->
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    {% url 'home' as home %}
    <ul>
      <li class="{% if request.path == home %}active{% endif %}">
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li class="{% if '/store/' in request.path %}active{% endif %}">
        <a href="{% url 'store' %}">Shop</a>
      </li>
      <li><a href="">Blog</a></li>
      <li class="{% if '/contact/' in request.path %}active{% endif %}">
        <a href="{% url 'contact' %}">Contact</a>
      </li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
  </div>
  <div class="humberger__menu__contact">
    <ul>
      <li><i class="fa fa-envelope"></i> sedem_seanefu@gmail.com</li>
      <li>Log in or Sign up to buy from us (0244639729)</li>
    </ul>
  </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> sedem_seanefu@gmail.com</li>
              <li>Log in or Sign up to buy from us</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__language">
              <img src="{% static 'img/language.png' %}" alt="" />
              <div>Ghana</div>
              <!-- <span class="arrow_carrot-down"></span>
              <ul>
                <li><a href="#">Tema & Accra</a></li>
                <li><a href="#">Other Regions</a></li>
              </ul> -->
            </div>
            <!-- <div class="header__top__right__auth">
              <a href="#"><i class="fa fa-user"></i> Login</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            {% url 'home' as home %}
            <li class="{% if request.path == home %}active{% endif %}">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="{% if '/store/' in request.path %}active{% endif %}">
              <a href="{% url 'store' %}">Shop</a>
            </li>
            <li><a href="">Blog</a></li>
            <li class="{% if '/contact/' in request.path %}active{% endif %}">
              <a href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li>
              <a href="{% url 'wishlist' %}"
                ><i class="fa fa-heart"></i> <span>{{ wishlist_count }}</span></a
              >
            </li>
            <li>
              <a href="{% url 'cart' %}"
                ><i class="fa fa-shopping-bag"></i> <span>{{ cart_count }}</span></a
              >
            </li>
          </ul>
          <div class="header__cart__price">Cart Total: <span>${{total}}</span></div>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul>
            <li><a href="{% url 'store' %}">All Products</a></li>
            {% for category in links %}
            <li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="{% url 'search' %}" method="GET">
              <div class="hero__search__categories">
                Search all category
                <!-- <span class="arrow_carrot-down"></span> -->
              </div>
              <input type="text" placeholder="What do yo u need?" name="keyword" />
              <button type="submit" class="site-btn">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            {% if user.id is None %}
            <div class="hero__search__phone__icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="hero__search__phone__text">
              <p><small class="title text-muted">Welcome guest!</small></p>
              <small style="background-color: rgb(200, 255, 0)" class="title text-muted"
                >REGISTER to buy</small
              >
              <div>
                <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
                <a href="{% url 'register' %}"> Register</a>
              </div>
            </div>
            {% else %}
            <div class="hero__search__phone__icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="hero__search__phone__text">
              <small class="title text-muted">Welcome {{ user.first_name }}</small>
              <div>
                <a href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
                <a href="{% url 'logout' %}">Logout</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
