{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} Sedem Coutour | Cart {% endblock %}
<!--  -->
{%block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Checkout</h2>
          <div class="breadcrumb__option">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'cart' %}">Cart</a>
            <span>Checkout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="checkout__form">
      <h4>Billing Details</h4>
      <form action="{% url 'place_order' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Fist Name<span>*</span></p>
                  <input type="text" name="first_name" required placeholder="First Name" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Last Name<span>*</span></p>
                  <input type="text" name="last_name" required placeholder="Last Name" />
                </div>
              </div>
            </div>
            <div class="checkout__input">
              <p>Country<span>*</span></p>
              <input type="text" name="country" required placeholder="Ghana" />
            </div>
            <div class="checkout__input">
              <p>Address Line 1<span>*</span></p>
              <input type="text" name="address_line_1" placeholder="Address Line 1" />
            </div>
            <div class="checkout__input">
              <p>Address Line 2<span>*</span></p>
              <input type="text" name="address_line_2" placeholder="Address Line 2" />
            </div>
            <div class="checkout__input">
              <p>State<span>*</span></p>
              <input type="text" name="state" required placeholder="State" />
            </div>
            <div class="checkout__input">
              <p>City<span>*</span></p>
              <input type="text" name="city" required type="text" placeholder="City" />
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Phone<span>*</span></p>
                  <input type="text" name="phone" required type="text" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Email<span>*</span></p>
                  <input type="email" name="email" required type="text" />
                </div>
              </div>
            </div>
            <div class="checkout__input">
              <p>Order notes</p>
              <textarea
                class="form-control"
                name="order_note"
                rows="2"
                placeholder="Notes about your order, e.g. special notes for delivery."
              ></textarea>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
              <h4>Your Order</h4>
              <div class="checkout__order__products">Products <span>Total</span></div>
              <ul>
                {% for cart_item in cart_items %}
                <li>
                  {{ cart_item.product.product_name }}<span>${{ cart_item.sub_total }}</span>
                </li>
                {% endfor %}
              </ul>
              <div class="checkout__order__subtotal">Subtotal <span>${{total}}</span></div>
              <div class="checkout__order__subtotal">Tax (2%) <span>${{tax}}</span></div>
              <div class="checkout__order__total">Total <span>${{grand_total}}</span></div>
              <button type="submit" class="site-btn">PLACE ORDER</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Checkout Section End -->
{% endblock %}
