{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Our Store</h2>
          <div class="breadcrumb__option">
            <a href="{% url 'home' %}">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<section class="section-pagetop bg">
  <div class="container">
    {% if 'search' in request.path %}
    <h2 class="title-page">Search results for ...</h2>
    {% else %}
    <h2 class="title-page">Our Store</h2>
    {% endif %}
  </div>
  <!-- container //  -->
</section>

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">
            <h4>Department</h4>
            <ul>
              <li>
                <a href="{% url 'store' %}"><b>All Products</b></a>
              </li>
              {% for category in links %}
              <li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="sidebar__item">
            <div class="latest-product__text">
              <h4>Trending Products</h4>
              <div class="latest-product__slider owl-carousel">
                <div class="latest-prdouct__slider__item">
                  {% for product in trending_products1 %}
                  <a href="#" class="latest-product__item">
                    <div class="latest-product__item__pic">
                      <img src="{{product.images.url}}" alt="" />
                    </div>
                    <div class="latest-product__item__text">
                      <h6>{{product.product_name}}</h6>
                      <span>${{product.discount_price}}</span>
                    </div>
                  </a>
                  {% endfor %}
                </div>
                <div class="latest-prdouct__slider__item">
                  {% for product in trending_products2 %}
                  <a href="#" class="latest-product__item">
                    <div class="latest-product__item__pic">
                      <img src="{{product.images.url}}" alt="" />
                    </div>
                    <div class="latest-product__item__text">
                      <h6>{{product.product_name}}</h6>
                      <span>${{product.discount_price}}</span>
                    </div>
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-7">
        <div class="filter__item">
          <div class="filter__found">
            <h6><span>{{product_count}}</span> Products found</h6>
          </div>
        </div>
        <div class="row">
          {% if products %} {% for product in products %}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
              <div class="product__item__pic set-bg" data-setbg="{{product.images.url}}">
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="{% url 'user_wishlist' product.id %}"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="{{product.get_url}}"><i class="fa fa-eye"></i></a>
                  </li>
                  <li>
                    <a href="{% url 'add_cart' product.id %}"
                      ><i class="fa fa-shopping-cart"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="{{ product.get_url }}">{{product.product_name}}</a></h6>
                <h5>${{product.discount_price}}</h5>
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <div>
            <h3>No result found. Please try again.</h3>
          </div>
          {% endif %}
        </div>
        <nav class="mt-4 text-center" aria-label="Page navigation sample">
          {% if products.has_other_pages %}
          <ul class="pagination text-center mx-auto">
            {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
            {% endif %} {% for i in products.paginator.page_range %} {% if products.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} {% endfor %} {% if products.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->

{% endblock %}
